extends layout

block content
  a.btn.btn-primary(href='/auth').
   Authenticate with Google
  a.btn.btn-primary(href='/sync').
   Sync

  script(type="text/x-handlebars", data-template-name="index").
    {{#each controller}}
      <li>
        {{title}}
      </li>
    {{/each}}