doctype 5
html('ng-app'='lifechart')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    !=css('style')
  body
    .navbar.navbar-fixed-top
      a.navbar-brand Lifechart
      ul.nav.navbar-nav
        li.active 
          a(href='/') Home
        li
          a(href='/auth') Authenticate with Google
        li
          a(href='/sync') Sync
    block content
    script
      ENV = {
        FORCE_JQUERY: true
      }
    script(src='/javascripts/lib/jquery-2.0.2.js')
    script(src='/javascripts/lib/bootstrap.js')
    script(src='/javascripts/lib/angular.js')
    script(src='/javascripts/lib/angular-resource.js')
    script(src='/javascripts/lib/angular-route.js')
    script(src='/javascripts/lib/moment.js')
    script(src='/javascripts/lib/underscore.js')

    != js('application')

    != js('controllers')
    != js('directives')
    != js('filters')
    != js('services')